/*
 Table Of Contents

 1.) Splash
 2.) First Launch
 3.) Registered
 4.) QR Code
 5.) Select Profile
 6.) ADD Profile
 7.) Create Account
 8.) Fingerprint
 ===============================================*/

/*
 1.) Splash
 ----------------------------------------*/
#content{
	min-height: 250px;
}
.splash {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	width: 100%;
	text-align: center;
	padding: 0 15px;
}
.logo-section {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}
.logo-section img {
	margin: 0 auto;
}
img {
	max-width: 100%;
	height: auto;
	display: inline-block;
}
/*
 2.) First Launch
 ----------------------------------------*/
.splash .descp {
	display: inline-block;
	font-size: 12px;
	color: #fff;
	margin-top: 5px;
	font-weight: 300;
}

.bottom-btn a {
	height: 48px;
	line-height: 48px;
	font-weight: 700;
	text-align: center;
	width: 100%;
	display: inline-block;
	font-size: 12px;
	background-color: #ff8776;
	color: #fff;
	text-transform: uppercase;
}
/*
 3.) Registered
 ----------------------------------------*/
.logo-header {
	width: 28%;
	text-align: center;
	display: inline-block;
}
.edit-btn {
	height: 24px;
	width: 24px;
	position: absolute;
	right: 15px;
	top: 13px;
}
.trust-level h2 {
	font-size: 24px;
	text-align: center;
	font-weight: 700;
	color: #fff;
	margin-bottom: 0;
}
.trust-level h2 + strong {
	display: block;
	text-align: center;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
span.chart {
	position: relative;
	display: inline-block;
}
.percent {
	position: absolute;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	font-size: 80px;
	top: 50%;
	line-height: 1;
	color: #fff;
}
/*
 4.) QR Code
 ----------------------------------------*/
#header h2 {
	font-size: 15px;
	display: block;
	text-align: center;
	color: #fff;
}
.back-btn {
	right: auto;
	left: 15px;
}
.qr-code > header {
	background: -moz-linear-gradient(top,  rgba(110,176,96,0.91) 0%, rgba(110,176,96,1) 2%, rgba(110,176,96,0.95) 3%, rgba(105,173,95,0.95) 97%, rgba(105,173,95,1) 98%, rgba(105,173,95,0.87) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(110,176,96,0.91)), color-stop(2%,rgba(110,176,96,1)), color-stop(3%,rgba(110,176,96,0.95)), color-stop(97%,rgba(105,173,95,0.95)), color-stop(98%,rgba(105,173,95,1)), color-stop(100%,rgba(105,173,95,0.87))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(110,176,96,0.91) 0%,rgba(110,176,96,1) 2%,rgba(110,176,96,0.95) 3%,rgba(105,173,95,0.95) 97%,rgba(105,173,95,1) 98%,rgba(105,173,95,0.87) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(110,176,96,0.91) 0%,rgba(110,176,96,1) 2%,rgba(110,176,96,0.95) 3%,rgba(105,173,95,0.95) 97%,rgba(105,173,95,1) 98%,rgba(105,173,95,0.87) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(110,176,96,0.91) 0%,rgba(110,176,96,1) 2%,rgba(110,176,96,0.95) 3%,rgba(105,173,95,0.95) 97%,rgba(105,173,95,1) 98%,rgba(105,173,95,0.87) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(110,176,96,0.91) 0%,rgba(110,176,96,1) 2%,rgba(110,176,96,0.95) 3%,rgba(105,173,95,0.95) 97%,rgba(105,173,95,1) 98%,rgba(105,173,95,0.87) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e86eb060', endColorstr='#de69ad5f',GradientType=0 ); /* IE6-9 */
	position: relative;
	z-index: 5;
}
#wrapper.qr-code{
	background: none;
}
.qr-code .qr-block{
	position: relative;
	padding: 30px 15px 0;
}
.qr-code .qr-block:after {
	background: rgb(73,150,95); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(73,150,95,1) 0%, rgba(81,155,96,1) 53%, rgba(84,156,95,1) 53%, rgba(82,157,96,1) 57%, rgba(85,157,98,1) 58%, rgba(90,161,99,1) 82%, rgba(89,161,97,1) 88%, rgba(92,161,99,1) 90%, rgba(90,162,96,1) 90%, rgba(90,162,96,1) 93%, rgba(93,161,99,1) 93%, rgba(94,163,98,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,150,95,1)), color-stop(53%,rgba(81,155,96,1)), color-stop(53%,rgba(84,156,95,1)), color-stop(57%,rgba(82,157,96,1)), color-stop(58%,rgba(85,157,98,1)), color-stop(82%,rgba(90,161,99,1)), color-stop(88%,rgba(89,161,97,1)), color-stop(90%,rgba(92,161,99,1)), color-stop(90%,rgba(90,162,96,1)), color-stop(93%,rgba(90,162,96,1)), color-stop(93%,rgba(93,161,99,1)), color-stop(100%,rgba(94,163,98,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(73,150,95,1) 0%,rgba(81,155,96,1) 53%,rgba(84,156,95,1) 53%,rgba(82,157,96,1) 57%,rgba(85,157,98,1) 58%,rgba(90,161,99,1) 82%,rgba(89,161,97,1) 88%,rgba(92,161,99,1) 90%,rgba(90,162,96,1) 90%,rgba(90,162,96,1) 93%,rgba(93,161,99,1) 93%,rgba(94,163,98,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(73,150,95,1) 0%,rgba(81,155,96,1) 53%,rgba(84,156,95,1) 53%,rgba(82,157,96,1) 57%,rgba(85,157,98,1) 58%,rgba(90,161,99,1) 82%,rgba(89,161,97,1) 88%,rgba(92,161,99,1) 90%,rgba(90,162,96,1) 90%,rgba(90,162,96,1) 93%,rgba(93,161,99,1) 93%,rgba(94,163,98,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(73,150,95,1) 0%,rgba(81,155,96,1) 53%,rgba(84,156,95,1) 53%,rgba(82,157,96,1) 57%,rgba(85,157,98,1) 58%,rgba(90,161,99,1) 82%,rgba(89,161,97,1) 88%,rgba(92,161,99,1) 90%,rgba(90,162,96,1) 90%,rgba(90,162,96,1) 93%,rgba(93,161,99,1) 93%,rgba(94,163,98,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(73,150,95,1) 0%,rgba(81,155,96,1) 53%,rgba(84,156,95,1) 53%,rgba(82,157,96,1) 57%,rgba(85,157,98,1) 58%,rgba(90,161,99,1) 82%,rgba(89,161,97,1) 88%,rgba(92,161,99,1) 90%,rgba(90,162,96,1) 90%,rgba(90,162,96,1) 93%,rgba(93,161,99,1) 93%,rgba(94,163,98,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49965f', endColorstr='#5ea362',GradientType=0 ); /* IE6-9 */
	height: 230px;
	position: absolute;
	left: 0;
	top:0;
	content:"";
	width:100%;
	z-index: -1;
}

.qr-form{
	width:97%;
	background:#fff;
	margin: 0 auto;
	border-radius:7px;
	box-shadow:0 0 3px #82af8e;
	border:2px solid #dedede;
	position: relative;
	
}
.logo-qr{
	height:44px;
	width:44px;
	border-radius:50%;
	background:#479560;
	display: block;
	text-align: center;
	border:2px solid #82af8e;
	position: absolute;
	top:-22px;
	left: 50%;
	margin-left: -22px;
}
.logo-qr img{
	width:45%;
	display: inline-block;
	transform: translateY(20%);
	-ms-transform: translateY(20%);
	-webkit-transform: translateY(20%);
	-o-transform: translateY(20%);
	
}
.qr-form header{
	padding: 30px 15px 15px;
	text-align: center;
	background:#f8f8f8;
	border-bottom:1px solid #dedfde;
	border-radius:5px 5px 0 0;
}
.qr-form header h3{
	font-size:20px;
	color:#333;
	text-align:center;
	margin-bottom: 8px;
}
.qr-form header > span{
	font-size:9px;
	color:#666;
}
.qr-form .img-scan{
	padding: 17px 56px;
	
}
.qr-form .img-scan .scanner{
	height:165px;
	width:165px;
	background:url(../images/qr-scanner.png) no-repeat left top;
	padding: 15px;
	position: relative;
	z-index: 5;
	margin: 0 auto;
}
.scan-block{
	height:134px;
	width:134px;
}
.footer-logo2{
	text-align: center;
	width:28%;
	margin: 0 auto;
	padding: 20px 0 35px;
	position: relative;
	z-index: 5;
}
.overlay{
	position: fixed;
	height:100%;
	width:100%;
	background:rgba(255,255,255,0.8);
	left: 0;
	top:0;
}
/*
 5.) Select Profile
 ----------------------------------------*/
.profile-select{
	margin-bottom: 60px;
}
.profile-select li{
	border-bottom:1px solid #d8d5d5;
	position: relative;
	overflow: hidden;
}
.profile-select li>span{
	background:url(../images/tick.png) no-repeat #ff8776;
	content:"";
	background-position:14px center;
	position: absolute;
	left:-100%;
	padding-right:1%;
	top:0;
	width:100%;
	height:100%;
	z-index: 2;
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	transition: left 0.5s ease-in-out;
	-webkit-transition: left 0.5s ease-in-out;
	-o-transition: left 0.5s ease-in-out;
	-ms-transition: left 0.5s ease-in-out;
	-moz-transition: left 0.5s ease-in-out;
}
.profile-select li.private >span{
	background-color:#ff8776;
	
}

.profile-select li.public >span{
	
	background-color:#86bb94;
	
}
.profile-select li.business >span{
	background-color:#8ecfef;
	
}
.profile-select li:hover >span{
	
	
	transition: all 0.8s ease-in-out;
	-webkit-transition:all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	left: 0;
}
.profile-select li a{
	padding: 15px 3.7% 21px;
	display: block;
	position: relative;
}
.profile-select li a > strong{
	font-size:15px;
	font-weight:700;
	margin-bottom:1px;
	color:#676767;
	display: block;
}
.profile-select li a > em{
	font-weight:300;
	font-size:11px;
	color:#676767;
}
.profile-select li a > i{
	background:url(../images/next-icon.png) no-repeat;
	display:inline-block;
	float: right;
	width:9px;
	height:16px;
	position: absolute;
	right:15px;
	top:50%;
	transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-o-transform:translateY(-50%);
}
i.add{
	background:url(../images/add-icon.png) no-repeat;
	height:15px;
	width:15px;
	display:inline-block;
	background-size:100%;
	background-position:center center;
	border-radius: 50%;
}
.bottom-btn a i{
	 margin-right: 4px;
    height:48px;
}
/*
 6.) ADD Profile
 ----------------------------------------*/
.new-pro{
	margin-bottom: 60px;
}
.new-pro li{
	padding: 18px 15px;
	border-bottom: 1px solid #d8d5d5;
}
.new-pro li label,.new-pro li input[type='text'],.new-pro li input[type='email'],.new-pro li input[type="password"],.new-pro li input[type="password_confirmation"]{
	width:30%;
	font-size:12px;
	float: left;
	line-height: 17px;
	border: 0;
	color:#676767;
	font-weight:400;
}
.new-pro li input[type='text'],.new-pro li input[type='email'],.new-pro li input[type="password"],.new-pro li input[type="password_confirmation"]{
	width:68%;
	float: right;
	font-weight:300;
}

::-webkit-input-placeholder {
   color:#e1e1e1;
}

:-moz-placeholder { /* Firefox 18- */
   color:#e1e1e1; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color:#e1e1e1;  
}

:-ms-input-placeholder {  
   color:#e1e1e1;
}
/*
 7.) Create Account
 ----------------------------------------*/
.bottom-btn.bottom-btn2 a{
	width:50%;
	float:left;
	background:#69ad5f;
}
.bottom-btn.bottom-btn2 a:first-child{
	background:#ff8776;
}
/*input[type=password]{
	border-radius: 0px;
}*/
#footer input[type=submit]{
	width:100%;
	background:#ff8776;
	height: 48px;
	line-height: 48px;
	font-weight: 600;
	font: inherit;
	text-align: center;
	width: 100%;
	display: inline-block;
	font-size: 12px;
	background-color: #ff8776;
	color: #fff;
	text-transform: uppercase;
	border-radius: 0px;
}
/*
 8.) Fingerprint
 ----------------------------------------*/
.fingerprint-block{
	padding: 26px 15px 0;
	text-align: center;
}
.counter{
	font-size:9px;
	font-weight:700;
	color:#676767;
}
.fingerprint-block h3{
	font-size:18px;
	color:#676767;
	padding: 8px;
}
.fingerprint-block p{
	font-size:12px;
	color:#676767;
	width:70%;
	margin: 0 auto;
	width:77%;
}
.scanner-block{
	padding: 4% 0;
	text-align: center;
}
